* {
    font-family: Futura, Times, serif;
    /* color: white */
}

.nav {
    /* position: fixed; */
    /* margin-top: 1rem; */
    /* padding-top: 1rem;
    padding-bottom: 1rem; */
    /* display: flex; */
    /* align-content: baseline; */
    position: fixed;
    top: 0;
    width: 100%;
    /* justify-content: space-evenly; */
    /* border: 7px solid white; */
    background-color: #b96024;
}
/* space between getting messed up somewhere between here - after .nav display:flex */
.navContainer {
    display: flex;
    /* margin: 1rem auto 1rem auto; */
    /* padding: 0; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    flex-direction: row;
    /* align-items: flex-end; */
    justify-content: space-evenly;
    /* position: fixed; */
}



li {
    list-style: none;
    color: white;
}
body {
    background-color: #fef4db;
}

.top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5rem;
    margin-bottom: 1rem;
}
.headerImage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-start: span 2;
    max-height: 600px;
    grid-column-start: 2;
    /* margin-left: auto;
    margin-right: auto;
    width: 50%;    */   
}

.first {
    margin-top: 5rem;
}

.name {
    align-self: center;
    justify-self: center;
}

.links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    /* border: 1px solid black; */
    /* padding: 300px; */
}

.homeContact {
    /* padding: 0; */
    /* justify-items: end; */
    /* background-color: red; */
    /* padding-left: 85%; */
}

.logo {
    /* padding-right: 85% */
    max-height: 4rem;
    display: flex;
    justify-self: flex-start;
}

.linkList {
    /* border: 1px solid black; */
    padding: 100px;
    margin: 25px;
    background-color: white;
    /* border: 7px solid white; */
}

.linkList:hover {
    opacity: .7;
}

.link12 {
    /* padding-left: 38%;
    padding-right: 38%; */
}
.about, .port {
    grid-column-start: span 2;
    padding-left: 45%;
    padding-right: 45%;
    /* background-color: #a89a6b; */
}

.port {
    margin-left: 25px;
    margin-right: 25px;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}
a:hover {
    color: gray;
}

.footer {
    background-color: #b96024;
    padding: 2rem;
    color: white;
}

.portfolioContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;

    /* display: inline-flex; */
    /* align-content: space-between; */
    /* display-direction: row; */

}

.aboutContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.aboutImage {
    display: grid;
    max-height: 400px;
    grid-column-start: 2;
}

.groveImage, .contactImage, .talkTreeImage {
    max-height: 500px;
}

h1 {
    margin-top: 3rem;
}

.vidContainer, .waldenPhotosContainer {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.treeImages, .waldenPhotos, .textImages {
    max-width: 650px;
}

.textProjectContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.two {
    grid-column-start: 2;
}

.textLink, .waldenLink, .flowLink, .groveImage, .talkTreeImage {
    max-height: 500px;
}

.row2 {
    grid-row-start: 2;
}

.textLink {
    grid-column-start: 1;
}

.flowLink {
    grid-column-start: 1;
}

.groveImage {
    grid-column-start: 3;
}

/* .talkTreeImage:hover {
    opacity: 0.7;
} */





/* .treeContainer {
    position: relative;
    width: 50%;
  }
  
.talkTreeImage {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
.treeContainer:hover .talkTreeImage {
    opacity: 0.7;
}

.treeContainer:hover .treeName {
    opacity: 1;
}

.treeName {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  } */
